@import "tailwindcss";

@source "../../packages/FuteBus/Core/src/resources/views/**/*.blade.php";
@source "../../packages/FuteBus/Payment/src/resources/views/**/*.blade.php";
@source "../../packages/FuteBus/Auth/src/resources/views/**/*.blade.php";
@source "../../packages/FuteBus/Auth/src/resources/js/**/*.js";
@source "../../packages/FuteBus/Profile/src/resources/views/**/*.blade.php";
@source "../../packages/FuteBus/Profile/src/resources/js/**/*.js";
@source "../../packages/FuteBus/Dashboard/src/resources/views/**/*.blade.php";
@source "../../packages/FuteBus/BusManagement/src/resources/views/**/*.blade.php";
@source "../../packages/FuteBus/TripManagement/src/resources/views/**/*.blade.php";

[x-cloak] {
    display: none !important;
}

@theme {
    --color-futa-orange: #ef5222;
    --color-futa-orange-soft: #fff3ed;
    --color-futa-orange-dark: #d94317;
    --color-futa-green: #00613d;
    --color-futa-green-dark: #075b3a;
    --color-futa-red: #dc2626;
    --font-family-sans: Arial, Helvetica, sans-serif;
}

@utility scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
